
	<div id="templatemo_container">    
    	<div id="templatemo_header">
        	<div id="templatemo_logo">
            	<div id="templatemo_site_logo">
                	<span class="big">B</span>ot<span class="big">C</span>oin<span class="big">T</span>rader
                </div>
                <div id="templatemo_site_slogan">
                	limit order bitcoin trades
              </div>
            </div>
        	<div id="templatemo_header_right">
            	<div class="templatemo_email">
                    	<label class="templatemo_label" >
                        	<a href="#signup">Settings</a> | <a href="login">Logout</a>

<!-- BTC widget not workting -->
<div id="coindesk-widget"></div>
<script type="text/javascript" src="http://widget.coindesk.com/bpiticker/coindesk-widget.min.js"></script>
          
                	 
          
                </div>
                
                <div id="templatemo_menu" class='placemat'>
                	<div class="templaetmo_menu_item about">
                    	<h1 class="menu_text"><a href="#">HOW IT WORKS</a></h1>
                        <div class="menu_description">
                        	Our process 
                        </div>
                    </div>
                     <div class="templaetmo_menu_item organization">
                        <h1 class="menu_text"><a href="http://www.templatemo.com" target="_parent">CURRENT ORDERS</a></h1>
                        <div class="menu_description">
                               All available orders
                        </div>
                    </div>
                    <div class="templaetmo_menu_item projects">
                    	<h1 class="menu_text"><a href="#">SECURITY</a></h1>
                        <div class="menu_description">
                        	You are protected
                        </div>
                    </div>
                    <div class="templaetmo_menu_item faq">
                    	<h1 class="menu_text"><a href="#">FAQs</a></h1>
                        <div class="menu_description">
                        	Learn more
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="templatemo_content_area">
        	<div id="templatemo_left_section">
            	<div class="templatemo_section_2">
                	<div class="templatemo_section_2_left">
                    	<img src="assets/images/templatemo_home.png" alt="free template" />
                        <a href="#">HOME</a>
                    </div>
                    <div class="templatemo_section_2_right">
                    	<img src="assets/images/templatemo_contact.png" alt="css template" />
                        <a href="#">CONTACT</a>
                    </div>
                </div>
            	<div class="templatemo_section_1">
                    <div class="templatemo_h_line">
                     </div>
                    <h1>ACCOUNT BALANCE</h1>
                    <h1 class="account_balance">7.259 BTC</h1>
                    <div class="templatemo_readmore">
                        <a href="#">ADD FUNDS</a>
                    </div>
                    <div class="cleaner"></div>

                	<div class="templatemo_h_line_2">
                    </div>
                    <h1>PENDING TRADES</h1>
                    <h2 class="order_name">Order Name: first time</h2>
                    <p class="order_type">Type: Sell</p>
                    <p class="order_value">Valuation: 1 BTC = $900</p>
                    <p class="order_amount">Amount to Trade: 0.5 BTC</p>
                    <p class="expiration">Expires on: 4/24</p>
                    <p> (all dates/times are GMT)
                    <div class="templatemo_readmore">
                    	<a href="#">EDIT/DELETE</a>
                    </div>
                    <div class="cleaner"></div>
                    
                    <div class="templatemo_h_line_2">
                    </div>
                    
                  <h2 class="order_name">Order Name: pickup more bitcoins</h2>
                    <p class="order_type">Type: Buy</p>
                    <p class="order_value">Valuation: 1 BTC = $400</p>
                    <p class="order_amount">Amount to Trade: $ 4,000</p>
                    <p class="expiration">Expires on: 6/1 </p>
                    <p> (all dates/times are GMT)
                    <div class="templatemo_readmore">
                        <a href="#">EDIT/DELETE</a>
                    </div>
                   
                  <div class="cleaner"></div>
                    
                   	<div class="templatemo_h_line_2">
                    </div>
                    
                    <h2 class="order_name">Order Name: crazy money</h2>
                    <p class="order_type">Type: Sell</p>
                    <p class="order_value">Valuation: 1 BTC = $1,400</p>
                    <p class="order_amount">Amount to Trade: 9 BTC</p>
                    <p class="expiration">Expires on: never</p>
                    <p> (all dates/times are GMT)
                    <div class="templatemo_readmore">
                        <a href="#">EDIT/DELETE</a>
                    </div>
                    
                    <div class="cleaner"></div>
                    
                </div>
            </div><!-- End Of left -->
            
            <div id="templatemo_right_section">
            	<div class="templatemo_h_line">
                </div>
                <h1>SET UP A NEW ORDER</h1>
                <img src="assets/images/bitcoins.jpg" />
                <p><a href="trades/new">Place order here</a></p>

                <div class="cleaner"></div>
                
                <div class="templatemo_h_line">
                </div>
                <h1>TRANSACTION HISTORY</h1>
                <div>
                 <img src="assets/images/watches.jpg" />
                </div>
                <div class="trans_history">
                <h2 class="order_name">Order Name: start trading</h2>
                    <p class="order_type">Type: Buy</p>
                    <p class="traded_value">Trade Executed Value: 1 BTC = $ 449.10</p>
                    <p class="order_amount">Amount Traded: $ 1,000 / 2.226 BTC</p>
                    <p class="executed">Executed on: 4/2/2014 3:24:55</p>
                    <p> (all dates/times are GMT)</p>
                </div>
                <ul class="category_list">
                	<li><a href="#">Order Name: second trade</a></li>
					<li><a href="#">Order Name: hey!</a></li>
					<li><a href="#">Order Name: getting rich</a></li>
                    <li><a href="#">Order Name: refill</a></li>
                </ul>
            </div><!-- End Of Right -->
            
            <div class="cleaner"></div>
        </div><!-- End Of Content area -->     
</div><!-- End Of Container -->
    
    <div id="templatemo_footer">
              </div>

          
