// Place all the styles related to the Trades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
	margin: 15px;
	height: auto;
	width: 200px;
}
input, select{
	margin: 2px;
}
label{
	font-weight: bold;
}
body{
	background: #fff ;
}